@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Quando', sans-serif;
    margin: 0;
    background-color: #ACC8E5;
    color: #112A46;
    
    display: flex;
    flex-direction: column;
}

header.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #112A46;
    
    padding-block: 1rem;
    z-index: 999;
}
    
header.navbar-container .logo img {
    width: 150px;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}
   
header.navbar-container .nav-list li {
    list-style-type: none;
}
   
header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: #ACC8E5;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}
   
header.navbar-container .nav-list li:hover a {
    background-color: #ACC8E5;
    color: #112A46;
}

.card {
    box-shadow: 0 4px 8px 0 #112A46;
    border-radius: 5px;
    padding: 20px;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: 2;
    order: 2;
}

.description {
    order: 1;
}

.description article p {
    text-align: justify;
    margin: 1rem 0 0;
}

aside {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: 1;
    order: 3;
}

footer {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #112A46;
    color: #ACC8E5;
}

.description article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description article img {
    width: 40%;
    margin: 0 auto;
}

h2 {
    margin-top: 0;
}

article.card ul img {
    margin-top: 1rem;
    width: 60%;
}

#content article p {
    text-align: justify;
}

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: steelblue;
    opacity: 0;
    border-radius: 50%;
    transition: .2s ease-in-out;
    z-index: 20px;
}

.back-to-top.show {
    bottom: 20px;
    opacity: 1;
}

.back-to-top svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: white;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

aside article img {
    width: 100%;
}

/* @media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
    }

    aside {
        order: 2;
    }

    #content {
        order: 3;
    }
} */

@media screen and (max-width: 768px) {
    header.navbar-container {
        flex-direction: column;
    }

    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: .5rem;
    }

    .description article img {
        width: 100%;
    }

    article.card ul img {
        width: 85%;
    }

    article img#ubah-gambar {
        width: 70%;
        margin: 0 auto;
    }

    aside article.kecil {
        display: flex;
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    aside {
        order: 2;
    }

    #content {
        order: 3;
    }
}